@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 172 100% 41%;
    --primary-foreground: 220 35% 7%;
    --destructive: 354 85% 60%;
    --destructive-foreground: 0 0% 100%;
    --secondary: 245 25% 22%;
    --secondary-foreground: 213 43% 97%;
    --background: 220 35% 7%;
    --foreground: 213 43% 97%;
    --card: 245 36% 17%;
    --card-foreground: 213 43% 97%;
    --muted: 245 20% 25%;
    --muted-foreground: 213 20% 65%;
    --accent: 248 74% 63%;
    --accent-foreground: 0 0% 100%;
    --border: 245 25% 27%;
    --input: 245 25% 27%;
    --ring: 172 100% 41%;
  }
}
